*:has(aside) {
  position: relative;
  min-height: 36px;
}
aside {
  position: absolute;
  border: var(--base_border_solid);
  right: 0;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: white;
  z-index: 99;
}
aside::after {
  font-family: monospace;
  content: '\2261';
  font-size: 24px;
  position: absolute;
  top: -1px;
  right: 0;
  border: 1px solid silver;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
}
/* Trigger */
aside {
  width: 0;
  visibility: hidden;
}
aside::after {
  visibility: visible;
}
aside:hover {
  width: 250px;
  visibility: visible;
}
aside:hover::after {
  display: none;
}