img {
  --img_width: auto;
  --img_height: auto;
  /* override */
  display: block;
  max-inline-size: 100%;
  block-size: auto;
  /* style */
  width: var(--img_width);
  height: var(--img_height);
  object-fit: none;
  object-position: center;
}