.empty {
  /* line-height original: 24px = 1.5 */
  height: calc(var(--line-height) * 1em);
  background-color: whitesmoke;
}
.code {
  height: calc(var(--line-height) * 1em);
  position: relative;
}
.code::before {
  content: attr(data-name);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: purple;
  padding: 0 5px;
  font-family: monospace;
  color: white;
  font-weight: bold;
}
