<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="content-type" content="text/html" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<title>fondation-text</title>
	<link rel="stylesheet" type="text/css" href="../css/import.css" />
</head>
<body>
	<main>
		<h1>Heading 1</h1>
		<h2>Heading 2</h2>
		<h3>Heading 3</h3>
		<h4>Heading 4</h4>
		<h5>Heading 5</h5>
		<h6>Heading 6</h6>
		<div>
			a <a>only</a>,
			a <a href="#">fragment</a>,
			a <a href="block.html">link</a>
			a <a href="about:blank">blank</a>,
			a <a href="javascript:;">unvisited</a>
			a <a href="https://example.com">https</a>,
			a <a href="tel:+123456789">phone</a>
		</div>
		<div>abbr <abbr>only</abbr>, abbr <abbr title="title abbr appearance">title</abbr></div>
		<div>bold <b>text</b></div>
		<div>code <code>text</code></div>
		<pre><code>code in pre</code></pre>
		<div>dfn <dfn>only</dfn>, dfn <dfn title="title dfn appearance">title</dfn></div>
		<div>kbd, Please press <kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>R</kbd></div>
		<div>label <label>text</label></div>
		<div>mark <mark>text</mark></div>
		<div>output <output>text</output></div>
		<pre>preformat text</pre>
		<div>quote <q>text</q></div>
		<div>small <small>text</small></div>
		<div>samp <samp>text</samp></div>
		<div>cite <cite>text</cite></div>
		<div>sup <sup>text</sup></div>
		<div>strong <strong>warning</strong></div>
		<div>sub <sub>text</sub></div>
		<div>italic <i>text</i></div>
		<div>data <data>text</data></div>
		<div>del <del>text</del></div>
		<div>em <em>text</em></div>
		<div>ins <ins>text</ins></div>
		<div>time <time datetime="22:30">22:30</time></div>
		<div>u <u>text</u></div>
		<div>var <var>text</var>, inside dfn <dfn><var>var</var></dfn></div>
		<div>mix inside code <code>function <dfn title="nothing wrong">something</dfn>( <var>p</var> ){ <strong>TODO</strong> }</code></code></div>
	  <div><textarea>texarea font is mono</textarea></div>
	</main>
</body>
</html>