object {
  --object_width: fit-content;
  --object_height: fit-content;
  /* override */
  display: block;
  max-inline-size: 100%;
  block-size: auto;
  /* style */
  width: var(--object_width);
  height: var(--object_height);
  object-fit: cover;
  object-position: center;
  &[type="application/pdf"] {
    min-height: 300px;
    width: 100%;
  }
}