<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>p</title>
  <link href="../../../global.css" rel="stylesheet">
  <link href="../../../utility/_export.css" rel="stylesheet">
  <link href="p.css" rel="stylesheet">
  <script src="../../../utility/js/random.min.js" defer></script>
  <script src="../../../utility/demo/dev.js" defer></script>
</head>
<body class="page">
  <div>
    <div class="code" data-name="p"></div>
    <div class="empty"></div>
    <p data-random-paragraph=2></p>
    <p data-random-paragraph=4></p>
    <p data-random-paragraph=3></p>
    <div class="empty"></div>
  </div>
</body>
</html>