.ma-0 		{ margin:     0; }
.ma-0_25em 	{ margin: .25em; }
.ma-0_5em 	{ margin:  .5em; }
.ma-1em 	{ margin:   1em; }
.ma-2em 	{ margin:   2em; }
.ma-4em 	{ margin:   4em; }
.ma-8em 	{ margin:   8em; }
.ma-16em 	{ margin:  16em; }

.ml-0 		{ margin-left:     0; }
.ml-0_25em 	{ margin-left: .25em; }
.ml-0_5em	{ margin-left:  .5em; }
.ml-1em 	{ margin-left:   1em; }
.ml-2em 	{ margin-left:   2em; }
.ml-4em 	{ margin-left:   4em; }
.ml-6em 	{ margin-left:   6em; }
.ml-8em 	{ margin-left:   8em; }

.mr-0 		{ margin-right:     0; }
.mr-0_25em 	{ margin-right: .25em; }
.mr-0_5em	{ margin-right:  .5em; }
.mr-1em 	{ margin-right:   1em; }
.mr-2em 	{ margin-right:   2em; }
.mr-4em 	{ margin-right:   4em; }
.mr-6em 	{ margin-right:   6em; }
.mr-8em 	{ margin-right:   8em; }

.mb-0 		{ margin-bottom:     0; }
.mb-0_25em 	{ margin-bottom: .25em; }
.mb-0_5em	{ margin-bottom:  .5em; }
.mb-1em 	{ margin-bottom:   1em; }
.mb-2em 	{ margin-bottom:   2em; }
.mb-4em 	{ margin-bottom:   4em; }
.mb-6em 	{ margin-bottom:   6em; }
.mb-8em 	{ margin-bottom:   8em; }

.mt-0 		{ margin-top:     0; }
.mt-0_25em 	{ margin-top: .25em; }
.mt-0_5em	{ margin-top:  .5em; }
.mt-1em 	{ margin-top:   1em; }
.mt-2em 	{ margin-top:   2em; }
.mt-4em 	{ margin-top:   4em; }
.mt-6em 	{ margin-top:   6em; }
.mt-8em 	{ margin-top:   8em; }

.ma-0_5		{ margin:   .5%; }
.ma-1		{ margin:    1%; }
.ma-2_5		{ margin:  2.5%; }
.ma-5		{ margin:    5%; }