.padding_2px { padding: 2px; }
.padding_3px { padding: 3px; }
.padding_5px { padding: 5px; }
.padding_10px { padding: 10px; }
/*.pa-0 		{ padding: 	   0; }
.pa-0_25em 	{ padding: .25em; }
.pa-0_5em 	{ padding:  .5em; }
.pa-1em 	{ padding:   1em; }
.pa-2em 	{ padding:   2em; }
.pa-4em 	{ padding:   4em; }
.pa-8em 	{ padding:   8em; }
.pa-16em 	{ padding:  16em; }

.pl-0 		{ padding-left:     0; }
.pl-0_25em 	{ padding-left: .25em; }
.pl-0_5em	{ padding-left:  .5em; }
.pl-1em 	{ padding-left:   1em; }
.pl-2em 	{ padding-left:   2em; }
.pl-4em 	{ padding-left:   4em; }
.pl-6em 	{ padding-left:   6em; }
.pl-8em 	{ padding-left:   8em; }

.pr-0 		{ padding-right:     0; }
.pr-0_25em 	{ padding-right: .25em; }
.pr-0_5em	{ padding-right:  .5em; }
.pr-1em 	{ padding-right:   1em; }
.pr-2em 	{ padding-right:   2em; }
.pr-4em 	{ padding-right:   4em; }
.pr-6em 	{ padding-right:   6em; }
.pr-8em 	{ padding-right:   8em; }

.pb-0 		{ padding-bottom:     0; }
.pb-0_25em 	{ padding-bottom: .25em; }
.pb-0_5em	{ padding-bottom:  .5em; }
.pb-1em 	{ padding-bottom:   1em; }
.pb-2em 	{ padding-bottom:   2em; }
.pb-4em 	{ padding-bottom:   4em; }
.pb-6em 	{ padding-bottom:   6em; }
.pb-8em 	{ padding-bottom:   8em; }

.pt-0 		{ padding-top:     0; }
.pt-0_25em 	{ padding-top: .25em; }
.pt-0_5em	{ padding-top:  .5em; }
.pt-1em 	{ padding-top:   1em; }
.pt-2em 	{ padding-top:   2em; }
.pt-4em 	{ padding-top:   4em; }
.pt-6em 	{ padding-top:   6em; }
.pt-8em 	{ padding-top:   8em; }

.pa-0_5		{ padding:   .5%; }
.pa-2_5		{ padding:  2.5%; }
.pa-5		{ padding:    5%; }*/