<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>hr</title>
  <link href="../../../global.css" rel="stylesheet">
  <link href="../../../utility/_export.css" rel="stylesheet">
  <link href="../../typography/_export.css" rel="stylesheet">
  <link href="hr.css" rel="stylesheet">
  <script src="../../../utility/js/random.min.js" defer></script>
  <script src="../../../utility/demo/dev.js" defer></script>
</head>
<body class="page">
  <div>
    <div class="code" data-name="hr"></div>
    <div class="empty"></div>
    <hr>
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="p hr"></div>
    <div class="empty"></div>
    <p data-random-paragraph=3>
    <hr>
    <p data-random-paragraph=2>
    <div class="empty"></div>
  </div>
</body>
</html>