body {
  /* from firefox dev-tool*/
  --color_button-face: #e9e9ed;
  --color_button-border: #8f8f9d;
  --color_button-hover: #d0d0d7;
  /* global input */
  --input_button_font_size: 1em;
  --input_button_font_weight: 500;
  --input_button_padding_v: 5px;
  --input_button_padding: 2px var(--input_button_padding_v);
  /* outline affected:
    button, submit, reset, select, checkbox, radio
    input, text,textarea,input-image
  */
  --input_button_outline: 3px solid var(--color_silver);
  --input_button_outline-offset: 2px;
  /* button, reset, select, input, color, number, range */
  --input_button_height: 36px;
  /* radio, checkbox, range-point, progress */
  --input_height_secondary: 18px;
  /* text, textarea */
  --input_font-family: var(--font-code);
  /* range */
  --input_range_width: 100%;
  --input_range_height: var(--input_button_height);
  --input_range_border-radius: 2px;
    /* track */
    --input_range-track_color: #f0f0f0;
    /* point */
    --input_range-point_size: var(--input_height_secondary);
    --input_range-point_color: whitesmoke;
    --input_range-point_color_hover: #e3e3e3;
  /* == progress == */
  --progress_height: calc(var(--input_height_secondary) / 2);
  --progress_border-radius: 2px;
  --progress_border-color: gray;
  --progress_track_color: #e5e5e5;
  --progress_point_color: green;
  /* == input[type=image] */
  --input_image_size: 24px;
  /* == meter == */
}