body {
  
  /* for element: section/layout
      - hr
      - section
      - header
      - footer
    */
  --base_margin-section: 0; /* avoid */
  --base_paddin-section: .5em;
  
  /* for element: block/component
      - p
      - table
      - fieldset
    */
  --base_margin-block: .5em 0;
  --base_margin-block_side: .5em;
  --base_padding-block: 1em;
  --base_padding-block_side: .25em;
  
}