li {
  list-style-position: inside;
}
ul, ol, menu {
  padding: var(--base_padding-section);
}
/* -- li style */
ul {
  list-style: square;
}
ol {
  list-style: decimal-leading-zero;
}
menu {
  list-style: none;
}
/* -- li padding */
ul li li {
  padding-left: 1em;
}
ol li li{
  padding-left: .5em;
}
menu li li {
  padding-left: 0;
}