li {
  list-style-position: inside;
}
ul, ol, menu {
  padding: .5em;
}
ul li li,
ol li li,
menu li li {
  padding-left: 1em;
}
ul {
  list-style: square;
}
ol {
  list-style: auto;
}
menu {
  list-style: none;
}