/* -- references --
  https://dev.to/krantikr/browser-specific-css-for-internet-explorer-firefox-chrome-safari-and-edge-394p
  https://www.browserstack.com/guide/create-browser-specific-css
  https://www.paulirish.com/2009/browser-specific-css-hacks/
  https://jeffclayton.wordpress.com/
  http://browserhacks.com/  
  https://www.lambdatest.com/blog/browser-specific-css/
  https://browserstrangeness.github.io/css_hacks.html
*/

/* stylish */
*, *::before, *::after { box-sizing: border-box; }
body {
  margin: 10%;
  font: 48px/2.0 monospace;
}
body > div {
  border: 4px solid silver;
  padding: 20px;
}

/** Require */
.result,
.display { display: none; }

/** ============= Chrominum ================ */
/* --- Old ---*/
@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  .result.chrome:not(*:root) { display: block; }
  .result.chrome:after {
    font-size: 18px;
    color: white;
    padding: 5px;
    content: 'Version: Old';
    background-color: red;
  } 
}
/* --- Current --- */
@supports ( grid-template-columns: none ) {
  @media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
    .result.chrome:not(*:root) { display: block; }
    .result.chrome:after {
      font-size: 18px;
      color: white;
      padding: 5px;
      content: 'Version: Current';
      background-color: green;
    } 
  }
}

/**  ============= Mozilla Firefox ================ */
/* --- Old ---*/
@-moz-document url-prefix() {
  .result.firefox { display: block; }
  .result.firefox:after {
    font-size: 18px;
    color: white;
    padding: 5px;
    content: 'Version: Old';
    background-color: red;
  }
}
/* --- Current --- */
@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
@-moz-document url-prefix() {
  @supports ( grid-template-columns: none ) {
    .result.firefox { display: block; }
    .result.firefox:after {
      font-size: 18px;
      color: white;
      padding: 5px;
      content: 'Version: Current';
      background-color: green;
    }
  }
}
}
/**  ============= Internet Explorer ================ */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .result.ie { display: block; }
}

/**  ============= Microsoft Edge ================ */
@supports (-ms-ime-align: auto) {
  .result.edge { display: block; }
}

/**  ============= Safari ================ */
@media not all and (min-resolution: 0.001dpcm) {
  .result.safari { display: block; }
}
