select,
option {
  cursor: pointer;
  font: var(--input_font);
  color: inherit;
  vertical-align: top;
}
select {
  border-radius: var(--input_radius);
  padding: var(--input_padding);
  background-color: var(--input_color-face);
  border: 1px solid var(--input_color-border);
  border-radius: var(--input_radius);
  height: var(--input_height);
  &[multiple] {
    overflow:auto;
    height: auto;
    padding: 5px;
    > option {
      padding: var(--option_padding);
    }
    > option:hover {
      background-color: var(--option_color-hover);
    }
  }
  &:focus {
    outline: var(--input_outline);
	  outline-offset: var(--input_outline-offset);
  }
  &:hover {
	  background-color: var(--input_color-hover);
	  &[disabled] {
	    background-color: var(--input_color-face);
	    cursor: not-allowed;
	    > option {
        background-color: inherit;
        cursor: inherit;
      }
	  }
  }
  &[disabled] {
    border-color: var(--input_color-disabled);
    color: var(--input_font-disabled);
    cursor: not-allowed;
  }
}