<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../../../utility/debug/debug.css" rel="stylesheet">
  <link href="../../../base/global.css" rel="stylesheet">
  <link href="p.css" rel="stylesheet">
</head>
<body class="debug">
  <div>
    <div>top div text</div>
      <p>This is paragraph</p>
    </div>
    <div>bottom div text 1</div>
    <div>bottom div text 2</div>
      <p>
        This other paragraph<br>
        break line here
       </p>
      <p>This next paragraph</p>
      <p>This is paragraph too</p>
      <div>bottom div 1</div>
      <div>bottom div 2</div>
    </div>
  </div>
</body>
</html>