@import '../../base/global.css';
/*
  <div id="debug_layer" class="debug-layer">
    <div class="line"></div>
    ...
  <div class="debug-component">
    <div class="item">
    ...
  
*/
:root {
  --debug-line: 24px;
  --debug-line_gap: 5px;
  --debug-line_color: silver;
  --debug-text: '24px';
  --debug-border: dotted;
  
}
.debug-layer {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
  user-select: none;
}
.debug-layer .line {
  border: 1px var(--debug-border) var(--debug-line_color);
  border-left: 0;
  border-right: 0;
  position: relative;
  width: 100%;
  height: var(--debug-line);
  margin-bottom: var(--debug-line_gap);
}
.debug-layer .line::after {
  content: var(--debug-text);
  color: silver;
  font-family: monospace;
  line-height: var(--debug-line);
  position: absolute;
  top: 0;
  right: 10px;
}

.debug-component .item {
  border: 1px solid orange;
}
.debug-component .item:not(:last-child) {
  border-bottom: 0;
}