.debug { outline: 1px solid red; }
.debug * { outline: 1px solid green; }
.debug *:nth-child(odd) { outline: 1px solid yellow; }
.debug * * { outline: 1px solid blue; }
.debug * *:nth-child(odd) { outline: 1px solid purple; }
.debug * * * { outline: 1px solid orange; }
.debug * * *:nth-child(odd) { outline: 1px solid teal; }
.debug * * * * { outline: 1px solid gray; }
.debug * * * *:nth-child(odd) { outline: 1px solid maroon; }
.debug * * * * * { outline: 1px solid aqua; }
.debug * * * * *:nth-child(odd) { outline: 1px solid chocolate; }
