var {
  font-style: normal;
  color: #ff9800;
  font-weight: bold;
}
time {
  --time-color: silver;
  font-weight: bold;
  border-top: 2px solid var(--time-color);
  border-bottom: 2px solid var(--time-color);
  padding: 0 2px;
}
data:hover::after {
  content: ' [value: ' attr(value) ']';
  color: gray;
}