<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>address</title>
  <link href="../../../global.css" rel="stylesheet">
  <link href="../../../utility/_export.css" rel="stylesheet">
  <link href="address.css" rel="stylesheet">
  <script src="../../../utility/js/random.min.js" defer></script>
  <script src="../../../utility/demo/dev.js" defer></script>
</head>
<body class="page">
  <div>
    <div class="code" data-name="address"></div>
    <div class="empty"></div>
    <address data-random-paragraph=1></address>
    <div class="empty"></div>
  </div>
</body>
</html>