span, code, label {
  vertical-align: middle;
}
label {
  /* handle label > input */
  display: inline-flex;
  align-items: center;
}

abbr[title] {
  text-decoration: none;
  border-bottom: 1px dotted gray;
  cursor: help;
}
code {
  font: 1.25em/1.5em monospace;
  background: silver;
  padding: 0 .25em;
}