dl {
  padding: var(--padding-block);
  dl {
    padding: var(--padding-section);
  }
  ul {
    padding: .5em 0 .5em 1.5em;
  }
  ol {
    padding: .5em 0 .5em 1.5em;
  }
}
dt {
  font-weight: bold;
}
dd {
  padding-left: var(--padding-block);
  > li {
    list-style-type: square;
  }
}

