table {
  display: table;
  border-collapse: collapse;
  border-color: currentColor;
  text-indent: 0;
  margin: var(--base_margin-block);
  table { margin: 0; }
}
caption {
  caption-side: var(--table_caption_position);
  text-align: var(--table_caption_justify);
}
col:nth-child(even) {
  background-color: var(--table_color-bg_col_even);
}
col:nth-child(odd) {
  background-color: var(--table_color-bg_col_odd);
}
td, th {
  border: var(--table_border);
  padding: var(--table_padding);
  text-align: left;
}