section {
  --base_border_section: 1px solid silver; 
  padding: .5em;
  border-top: var(--base_border_section);
  border-bottom: var(--base_border_section)
}
section:not(:first-of-type) {
  border-top: 0;
}
section:last-of-type {
  border-bottom: 0;
}