section {
  padding: var(--padding-block);
  &:not([class]) {
    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
    &:not(:first-of-type) {
      border-top: 0;
    }
    &:last-of-type {
      border-bottom: 0;
    }
  }
}