@import 'variable/font-family.css';

*,*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: relative;
	background-repeat: no-repeat;
  text-decoration: inherit;
  vertical-align: top;
}
html {
  font: 16px/24px monospace;                  /*fix-2*/
  height: 100%;
  background-color: white;
  color: black;
	color-scheme: dark light;
	overflow: hidden;                           /*fix-1*/
}
body {
  display: block;
  margin: 0;
  font: 1rem/1.5 var(--font-rimary);
  height: 100%;
  overflow: auto;                             /*fix-1*/
  -webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: none;
	tab-size: 4;
	overflow-wrap: break-word;
}
/*  Note:
    - fix-1: fix bottom spacing
    - fix-2: `rem` base and solid `calc()`
*/

